body{
    margin: 0;
    width: 100vw;
    background-color: rgb(185 118 16);
    font-size: 20px;
    /* border: 2px s black; */
   
}
*{
    box-sizing: border-box;
}
#navbar{
margin: 0;
border: 2px solid gray;
height: 100px;
font-size: 1rem;
background-color: rgb(63, 25, 3);
/* overflow: hidden; */
}
#navbar ul{
list-style: none;
display: flex;
justify-content: center;
/* border:2px solid red; */
margin: 0;
height: 100%;
}
#navbar li{
cursor: pointer;
display: flex;
align-items: center;
margin: 40px 10px 5px 10px;
border:5px solid rgb(150, 100, 7);
flex-basis: 10%;
height:58px;
border-bottom: none;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color: bisque;
}
#navbar button{
    font-size: 1rem;
    color: rgb(73, 28, 2);
    font-weight: bold;
cursor: pointer;
width:100%;
background-color:transparent;
border: none;
/* background-color: aqua; */
}

